<!DOCTYPE html>
<html lang="fr">


<head>

    <meta charset="utf-8">
    <link rel="stylesheet" href="static/css/styleacc.css">
    <title>Deposez vos photos et vidéos!</title>

</head>

<body>  
    <center>
    <h1>Deposez vos photos et vidéos!</h1>
    </center>

    <nav>
        <div class="ulbig">
            <ul>
                <li class="li"><a href="/">Accueil</a></li>
                <li class="li"><a href="/upload_0/">Télécharger un ou plusieurs fichiers pour l'écran 0</a></li>
                <li class="li"><a href="/upload_1/">Télécharger un ou plusieurs fichiers pour l'écran 1</a></li>
                <li class="li"><a href="/upload_m/">Télécharger un ou plusieurs fichiers pour la matrice d'écrans</a></li>
            </ul>
        </div>
    </nav>

    <img class="top-left" src="../static/css/img/Polytech.png">
    <img class="top-right" src="../static/css/img/Sorbonne.png">
    
    <p>Bienvenue sur le site de la diffusion d'images SGTO de Polytech Sorbonne !</p>
</body>

</html>