<!doctype html>
<html>
    <head>

        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    </head>
    <body>
        <center>
            <h1 class="titre">Votre fichier a bien été envoyé sur le serveur !</h1>
        </center>

    <p>
        <a href="/" class="home-link">Retour à l'accueil</a>
    </p>
    </body>
</html>