/* Styles généraux */
h1 {
    border: 8px #eee dashed;
    border-style: outset;
    color: lightseagreen;
    text-align: center;
    width: 700px;
    padding: 10px;
    display: inline-block;
    background-color: antiquewhite;
    margin: 0 0 0 10;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    margin-left: 15px;
    padding: 0;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

/* Styles de l'en-tête */
header {
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 28px;
    color: #333333;
    margin: 0;
}

/* Styles du formulaire */
form {
    margin-top: 20px;
}

form input[type="file"] {
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    border: 2px dashed #dddddd;
    background-color: #ffffff;
    color: #555555;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

form input[type="file"]:focus,
form input[type="file"]:hover {
    border-color: #aaaaaa;
}

form input[type="submit"] {
    background-color: #4caf50;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

form input[type="submit"]:hover {
    background-color: #45a049;
    transform: scale(1.1);
}

form input[type="submit"]:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(76, 175, 80, 0.4);
}

form input[type="submit"]:active {
    background-color: #3e8e41;
    transform: scale(0.9);
}

/* Styles de la liste de fichiers sélectionnés */
#selected-files {
    list-style-type: none;
    padding: 0;
}

#selected-files li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #ffffff;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

#selected-files li:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#selected-files li button {
    background-color: #ff5555;
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#selected-files li button:hover {
    background-color: #ff3333;
}

/* Styles de la liste des fichiers déjà présents */
.existing_files ul {
    list-style-type: none;
    padding: 0;
}

.existing_files ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #ffffff;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.existing_files ul li:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.existing_files ul li button {
    background-color: #ff5555;
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.existing_files ul li button:hover {
    background-color: #ff3333;
}

/* Styles de la liste de fichiers */
.fichiers {
    margin-top: 20px;
}

.fichiers select {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 2px dashed #dddddd;
    background-color: #ffffff;
    color: #555555;
    transition: border-color 0.3s ease;
}

.fichiers select:hover {
    border-color: #aaaaaa;
}

.fichiers select option {
    padding: 10px;
}

/* Styles des boutons */
button {
    background-color: #4caf50;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #45a049;
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(76, 175, 80, 0.4);
}

button:active {
    background-color: #3e8e41;
    transform: scale(0.9);
}

.refresh-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
}

/* Styles des images */
.top-left {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 10px;
    margin-left: 15px;
    width: 10%;
}

.top-right {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 10px;
    margin-right: 15px;
    width: 10%;
}

/* Styles du lien de retour */
a.home-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4caf50;
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

a.home-link:hover {
    background-color: #45a049;
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

a.home-link:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(76, 175, 80, 0.4);
}

a.home-link:active {
    background-color: #3e8e41;
    transform: scale(0.9);
}


/* Styles du message d'erreur */
.error {
    background-color: #ffdddd;
    color: #ff0000;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ff0000;
}

.types-message {
    margin-left: 10px;
    font-size: 16px;
    font-weight: bold;
    color: blue;
}

.file-input-div {
    display: flex;
    align-items: center;
}